<!DOCTYPE html>
<html>
<head>
  <title>Skyline High School Music</title>
  <link rel='stylesheet' type='text/css' href='/static/styles.css'>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="js/respond.js"></script>
  <script>
    function showHiddenDiv() {
      var hiddenDiv = document.getElementById("hidden-div");
      if (hiddenDiv.style.display == "none") {
        hiddenDiv.style.display = "block";
      } else {
        hiddenDiv.style.display = "none";
      }
    }
  </script>
</head>
<body>
  <div class='container'>
    <h1 class='title'>Success!</h1>
    <div class='card-container'>
      <div class='card blue-gradient'>
        <a href="/">Successfully sent emails. Click to go Back!</a>
      </div>
    </div>
  </div>
  <div class='music-notes-container'>
    <img src='/static/music_notes.jpg' alt='Music Notes' class='music-notes'>
  </div>
</body>
</html>